### KNJIGE

In [10]:
import pandas as pd
import matplotlib
podatki = pd.read_csv("gutenberg_books.csv")
podatki.head(10).drop(columns=["url"])

,author,release_date,language,reading_level,downloads_last_30d
0,Olaudah Equiano,"Mar 17, 2005",English,Plain English. Easily understood.,5614
1,Henry M. Stanley,"Feb 1, 2004",English,Plain English. Easily understood.,1011
2,David Livingstone,"Feb 11, 2006",English,Difficult to read.,956
3,W. E. B. Du Bois,"Feb 7, 2006",English,Fairly difficult to read.,781
4,Olive Schreiner,"Sep 1, 1998",English,Fairly easy to read.,778
5,Mary Henrietta Kingsley,"Jun 1, 2004",English,Fairly difficult to read.,770
6,J. H. Patterson,"Mar 1, 2003",English,Fairly difficult to read.,657
7,Frederick Young,"Jul 30, 2005",English,Difficult to read.,589
8,Sir Richard Francis Burton,"Nov 1, 2004",English,Difficult to read.,586
9,active 1820 Abd Salam Shabeeny,"Sep 16, 2007",English,Difficult to read.,584

In [11]:
podatki.tail(10).drop(columns=["url"])

,author,release_date,language,reading_level,downloads_last_30d
267,Stanley Lane-Poole and J. D. Jerrold Kelley,"Jul 28, 2007",English,Fairly difficult to read.,872
268,Charles Dickens,"Oct 1, 1996",English,Fairly difficult to read.,844
269,H. A. Guerber,"Dec 5, 2007",English,Plain English. Easily understood.,831
270,Lawrence Beesley,"Oct 1, 2004",English,Fairly difficult to read.,813
271,"Albert E. McKinley, Charles A. Coulomb, and Ar...","Dec 3, 2005",English,Difficult to read.,801
272,Charles A. Beard and Mary Ritter Beard,"Oct 28, 2005",English,Difficult to read.,795
273,George Edmundson,"Feb 8, 2005",English,Difficult to read.,789
274,H. E. Marshall,"Feb 1, 2003",English,Fairly easy to read.,697
275,Roy Chapman Andrews and Yvette Borup Andrews,"May 1, 2004",English,Difficult to read.,693
276,George Rawlinson and Arthur Gilman,"Apr 20, 2005",English,Difficult to read.,684